body, h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif !important;
}

body, html {
  height: 100%;
  color: #333;
  line-height: 1.8;
}

html {
  scroll-snap-type: y proximity;
}

/* Original value from template: 0.75 */
.opacity-mod {
  opacity: 0.9;
}

.custom-resize {
  scale: 1.4;
}

.snap-child {
  scroll-snap-align: start;
}

.my-padding-fixed {
  padding-left: 34px;
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.genie-area {
  height: 100vh;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url('/img/1.jpg');
  height: 100vh;
}

/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url("/img/2.jpg");
  height: 30vh;
}

/* Third image (Contact) */
.bgimg-3 {
  background-image: url("/img/3.jpg");
  height: 30vh;
}

.w3-wide {
  letter-spacing: 10px;
}

.w3-hover-opacity {
  cursor: pointer;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {

  .bgimg-1,
  .bgimg-2,
  .bgimg-3 {
    background-attachment: scroll;
    height: 30vh;
  }
}